@import './variables';
@import './mixins';

@media screen and (min-width:1750px) {
    .container {
        max-width: 1710px;
    }
}

body {
    color: $clr-black;
}

.custom-container {
    max-width: 1146px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    @include mq(lg) { 
        width: 90%;
    }
    @include mq(md) { 
        width: 95%;
    }
    @include mq(sm) { 
        padding: 0 12px;  
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: $clr-black;
}


ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
address {
    margin-bottom: 0;
}

.pt {
    &-196 {
        padding-top: 196px;

        @include mq(lg) {
            padding-top: 80px;
        }
    }

    &-193 {
        padding-top: 193px;

        @include mq(lg) {
            padding-top: 80px;
        }
    }
}

.pb {
    &-193 {
        padding-bottom: 193px;

        @include mq(lg) {
            padding-bottom: 80px;
        }
    }

    &-196 {
        padding-bottom: 196px;

        @include mq(lg) {
            padding-bottom: 80px;
        }
    }
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-125 {
    margin-bottom: 125px;

    @include mq(lg) {
        margin-bottom: 60px;
    }

    @include mq(sm) {
        margin-bottom: 40px;
    }
}

.block-margin {
    margin-block: 200px;
}

.block-padding {
    padding-block: 186px 200px;

    @include mq(lg) {
        padding-block: 140px 175px;
    }

    @include mq(lg) {
        padding-block: 80px;
    }
}

.text__white {
    color: $clr-white;
}

.mt-405 {
    margin-top: 405px;

    @include mq (lg) {
        margin-top: 80px;
    }

}

.mt-206 {
    margin-top: 206px;

    @include mq (lg) {
        margin-top: 80px;
    }
}


.bg__light {
    background: $clr-light;
}

.text__accent {
    color: $clr-accent;
}

.opacity-47 {
    opacity: .47;
}

.border___bottom {
    border-bottom: 1px solid  $clr-dark-drown;
}

.bg__center {
    @include mq(lg) {
        &::after {
            background-position: center !important;
        }
    }
 
}



.section-content {
    &-sm {
        max-width: 404px;
    }

    &-md {
        max-width: 549px;

        @include mq(lg) {
            max-width: 100%;
        }

        @include mq(sm) {
            max-width: 100%;
        }
    }

    &-mmd {
        max-width: 677px;
    }

    &-lg {
        max-width: 694px;
    }

    &-xlg {
        max-width: 778px;

    }
}

.img-sm {
    max-width: 404px;
    @include mq(lg) {
        max-width: 100%;
        height: 509px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    @include mq(sm) {
        height: 400px;
    }
}

.social__list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.overlay-dark {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba($color: #000000, $alpha: .5);
        transition: all .3s ease;
    }
}

.heading__img {
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        display: block;
        width: 100%;
        left: 0;
        right: 0;
        height: 23px;
    }

    &--xxl::after {
        background: url(../images/heading__img-xxl.png) no-repeat;
        background-size: contain;
        @include mq(lg) {
            background: url(../images/xsmsm.svg) no-repeat;
            background-size: contain;
        }
    }
    &--xl::after {
        background: url(../images/heading__img-xl.png) no-repeat;
        background-size: contain;
        @include mq(lg) {
            background: url(../images/xsmsm.svg) no-repeat;
            background-size: contain;
        }
    }
    &--lg::after {
        background: url(../images/heading__img-lg.png) no-repeat;
        background-size: contain;
        @include mq(lg) {
            background: url(../images/xsmsm.svg) no-repeat;
            background-size: contain;
        }
    }

    &--md::after {
        background: url(../images/heading__img-md.png) no-repeat;
        background-size: contain;
        @include mq(lg) {
            background: url(../images/xsmsm.svg) no-repeat;
            background-size: contain;
        }
    }

    &--sm::after {
        background: url(../images/heading__img-sm.svg) no-repeat;
        background-size: contain;
        @include mq(lg) {
            background: url(../images/xsmsm.svg) no-repeat;
            background-size: contain;
        }
    }

    &--xsm::after {
        background: url(../images/xsmsm.svg) no-repeat;
        background-size: contain;
    }

}

// industry 

.industry {
    &__gallery {
        @include mq(xxl) {
            display: grid !important;
            grid-template-columns: repeat(3,1fr);
        }
        @include mq(sm) {
            grid-template-columns: repeat(2,1fr);
        }
    }
    &__text {
        position: absolute;
        bottom: 88px;
        left: 15px;
        color: $clr-white;
        z-index: 1;
        min-height: 60px;
        margin-bottom: 0;
        transition: .3s ease;
        @include mq(xxxl) {
         font-size: 21px;
         line-height: 26px;
        }
        @include mq(xxl) {
         font-size: 18px;
         line-height: 26px;
         bottom: 10px;
        }
        a {
            color: $clr-white;
        }
    }

    .overlay-dark {
        height: 100%;

        img {
            filter: grayscale(1);
            height: 100%;
            @include mq(xxl) { 
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
            @include mq(lg) { 
                height: 300px;
            }
        }

        &:hover {
            img {
                filter: initial;
            }

            &::after {
                background: transparent;
            }

            .industry__text {
                transform: translateY(-25px);
                transition: .3s ease;
            }
        }
    }
}

.mb {
    &-9 {
        margin-bottom: 9px;
    }

    &-19 {
        margin-bottom: 19px;
    }

    &-161 {
        margin-bottom: 161px;

        @include mq(lg) {
            margin-bottom: 80px;
        }
    }
}

.h-194 {
    height: 194px;
}

.h-160 {
    height: 160px;
}

.mt-49 {
    margin-top: 49px;
    @include mq(lg) {
        margin-top: 30px;
    }
    @include mq(sm) {
        margin-top: 10px;
    }
}

.mt-86 {
    margin-top: 86px;
    @include mq(lg) {
        margin-top: 30px;
    }
    @include mq(sm) {
        margin-top: 10px;
    }
}

.mt-64 {
    margin-top: 64px;
    @include mq(lg) {
        margin-top: 30px;
    }
    @include mq(sm) {
        margin-top: 10px;
    }
}

.mt-20 {
    margin-top: 20px;
    @include mq(sm) {
        margin-top: 10px;
    }
}

.mt-161 {
    margin-top: 161px;
}
