.wd_full {
  width: 100%;
  height: 800px;
}
@media screen and (max-width: 992px) {
  .wd_full {
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.banner h3 {
  line-height: 55px;
}
.banner .swiper-pagination-bullet {
  width: 259px;
  height: 2px;
  background-color: #FFFFFF !important;
  opacity: 0.75;
}
@media screen and (max-width: 1400px) {
  .banner .swiper-pagination-bullet {
    width: 160px;
  }
}
.banner .swiper-pagination-bullet-active {
  background-color: #5BA60D !important;
}
.banner .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
  gap: 25px;
}
@media screen and (max-width: 992px) {
  .banner .swiper-pagination {
    gap: 0;
    margin-bottom: 15px;
  }
}
.banner .slide-text {
  position: absolute;
  left: 80px;
  bottom: 8%;
}
@media screen and (max-width: 1600px) {
  .banner .slide-text {
    left: 50px;
    bottom: 15%;
  }
}
@media screen and (max-width: 992px) {
  .banner .slide-text {
    left: 58px;
    bottom: 5%;
  }
}
@media screen and (max-width: 768px) {
  .banner .slide-text {
    left: 15px;
    bottom: 5%;
  }
}
.banner .swiper-link {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.9px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 992px) {
  .banner .swiper-link {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .banner .swiper-link {
    font-size: 16px;
  }
}
.banner .swiper-link::after {
  content: "";
  display: inline-block;
  background: url(../images/Icon\ metro-arrow-up-right.svg);
  width: 14px;
  height: 14px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.banner .swiper-link:hover {
  color: #5BA60D;
}
.banner .swiper-link:hover::after {
  -webkit-transform: translate(4px, -4px);
          transform: translate(4px, -4px);
  background: url(../images/Icon\ metro-arrow-up-right-green.svg);
}

.about-banner {
  background-color: #212121;
  padding-top: 88px;
  padding-bottom: 84px;
}
@media screen and (max-width: 992px) {
  .about-banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}